﻿@model List<DeployFileWebApp.Data.Servers>

@foreach (var item in Model)
{
    <tr>
        <td>@item.ServerName</td>
        <td>@item.ServerDesc</td>
        <td>
            <button class="btn btn-success" onclick="Edit(@item.ServerId)">Edit</button>
            <button class="btn btn-secondary" onclick="UpdateSites(@item.ServerId, '@item.ServerName')"> Update Sites</button>
            <button class="btn btn-dark" onclick="window.location.href='/manageserver/sites/@item.ServerId'"> View Sites</button>
        </td>
    </tr>
}
