﻿@model List<DeployFileWebApp.Data.Servers>
@{
    ViewData["Title"] = "Server Page";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Servers
            <a class="btn btn-outline-info float-right" onclick="Add()">Add New Server</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Server Name
                        </th>
                        <th>
                            Server Description
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="serverList">
                    @Html.Partial("_ServerList", Model)
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='myServerModal' class='modal fade' role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div id='myServerModalContent' class="modal-content modal-popup">
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editUrl = '@Url.Action("SaveServer", "ManageServer", new { Area = "" })';
        function Add() {
            OpenPopup("myServerModal", "myServerModalContent", editUrl, "FrmServer");
        }

    function Edit(serverId) {
        var url = editUrl + "/" + serverId;
        OpenPopup("myServerModal", "myServerModalContent", url, "FrmServer");
        }

        function OpenPopup(modalId, modalContainId, url, formId) {
            $('#' + modalContainId + '').empty();
            $('#' + modalContainId + '').load(url, function (response, status, xhr) {
                if (response.indexOf("<meta charset=\"utf-8\" />") != -1) {
                    $('#' + modalId + '').modal('toggle');
                    location.reload();
                    return;
                }
                $('#' + modalId + '').modal({
                    keyboard: true, backdrop: 'static'
                }, 'show');
                bindForm(modalId, formId);
            });
        }
        function bindForm(modalId, formId) {
            $("#" + formId).removeData("validator");
            $("#" + formId).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($("#" + formId));
            onSuccess = function (response) {
                if (!response.success) {
                    toastr.error(response.returnMsg);
                }
                else {
                    $('#' + modalId + '').modal('toggle');
                    toastr.success(response.returnMsg);
                    RenderList();
                }
            };
            onFailure = function (xhr) {
                if (xhr.responseJSON && xhr.responseJSON.returnMsg) {
                    toastr.error(xhr.responseJSON.returnMsg);
                }
            };
        }
        var UpdateSites = function (serverId, serverName) {
            var data = {
                serverId: serverId,
                serverName: serverName
            };
            $.ajax({
                url: "/manageserver/updatesite",
                cache: false,
                data: data,
                type: "POST",
                crossDomain: true,
                success: function (response, status, xhr) {
                    if (!response.success) {
                        toastr.error(response.returnMsg);
                    }
                    else {
                        toastr.success(response.returnMsg);
                    }
                },
                error: function (e) {
                    toastr.error("Something went wrong");
                }
            });
        }

        function RenderList() {
            $("#serverList").load("/manageserver/getservers");           
        }
    </script>
}
