﻿@model DeployFileWebApp.Models.ServerModel
@{
    Layout = null;
}

<form data-ajax-url="/ManageServer/SaveServer" id="FrmServer" role="form" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <div class="modal-header">
        <h4 class="modal-title">Manage Server</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="ServerId"/>
        <div class="form-group">
            <label>Server Name</label>
            <input type="text" class="form-control" placeholder="Enter Server Name" asp-for="ServerName">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Enter Server Description" asp-for="ServerDesc">
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-success" value="Save">
    </div>
</form>
@section Scripts{
    <script>
        
    </script>
}
