﻿@model List<DeployFileWebApp.Data.ServerSites>
@{
    ViewData["Title"] = "Site Page";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Server Sites
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Server Name
                        </th>
                        <th>
                            Site Name
                        </th>
                        <th>
                            Created On
                        </th>
                    </tr>
                </thead>
                <tbody id="siteList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ServerName</td>
                            <td>@item.SiteName</td>
                            <td>
                               @item.CreatedOn.ToString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
